// Small tablets and large smartphones (landscape view)
$landscape: 576px;

// Small tablets (portrait view)
$portrait: 768px;

// Tablets and small desktops
$sm-desktop: 992px;

// Large tablets and desktops
$lg-desktop: 1200px;