//default colors

$blue: #0080e9;
$rose-purpurle: #ed1dca;
$purpurle: #7530ff;
$gray: #f0f5fc;
$blue-green: #14c4bc;
$rose: #f37298;
$background-gray: #ececec;
$dark-gray: #303030;
$dark-blue: #171c26;
$js-yellow: #e5f139;