$xMarginResponsive: 3em;
$xMarginFull: 6.5em;

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 10px;

    @media screen and (min-width: $sm-desktop) {
        font-size: 12px;
    }

    @media screen and (min-width: $lg-desktop) {
        font-size: 16px;
    }
}

h2 {
    font-size: 5em;
    font-weight: bold;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.3em;
    font-weight: 600;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

p {
    font-size: 1.3em;
}

body {
    background-color: $background-gray;
    margin: 0 auto;
    max-width: 1600px;
}

.fluid {
    margin-right: -$xMarginResponsive;
    margin-left: -$xMarginResponsive;

    @media screen and (min-width: $landscape) {
        margin-right: -$xMarginFull;
        margin-left: -$xMarginFull;
    }
}

section {
    margin: 0 $xMarginResponsive 5em $xMarginResponsive;

    @media screen and (min-width: $landscape) {
        margin: 0 $xMarginFull 9em $xMarginFull;
    }
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 20px;
    box-shadow:
        -10px -10px 15px rgba(255, 255, 255, 0.55),
        10px 10px 15px rgba(70, 70, 70, 0.12);
}

::-webkit-scrollbar-track {

    box-shadow:
        inset -10px -10px 15px rgba(255, 255, 255, 0.55),
        inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    padding: 15px 30px 5px 30px;
}



::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg,
            $blue,
            $blue-green);
    border-radius: 30px;
}