.home {
    &__section {
        display: flex;
    }

    &__description {
        flex: 2;
        margin: 5em 0;

        p {
            margin-right: 25%;
        }
    }

    &__profile-image {
        flex: 1;
        display: none;
        justify-content: flex-end;
        align-items: flex-end;

        @media screen and (min-width: $landscape) {
            display: flex;
        }


        img {
            max-width: 100%;
            height: auto;
            max-height: 63vh;
            min-height: 30vh;
        }
    }

    &__more {
        flex: 1;
        margin-left: 7em;
        display: none;

        @media screen and (min-width: $landscape) {
            display: block;
        }
    }

    &__see-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 4.5em;
        border-radius: 5em;
        box-shadow:
            -10px -10px 15px rgba(255, 255, 255, 1),
            10px 10px 15px rgba(70, 70, 70, 0.30);
        background: -webkit-linear-gradient($blue, $blue-green);
        height: 100%;

        a {
            margin-top: 0.6em;
            color: $blue;
            background-color: $background-gray;
            font-weight: bold;
            padding: 1em;
            border-radius: 5em;
            box-shadow:
                inset -10px -10px 15px rgba(255, 255, 255, 0.55),
                inset 10px 10px 15px rgba(70, 70, 70, 0.12);
        }

        h5 {
            color: white;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
            margin-top: 0.6em;
            margin-bottom: 1.8em;
        }
    }

    &__values {
        flex-wrap: wrap;
        margin-left: 3em;
        flex: 3;
        display: flex;
        box-shadow:
            -10px -10px 15px rgba(255, 255, 255, 0.55),
            10px 10px 15px rgba(70, 70, 70, 0.12);
        border-radius: 2.5em 0 0 2.5em;
        background-color: $background-gray;

        @media screen and (min-width: $landscape) {
            flex-wrap: nowrap;
            margin-left: 0;
        }
    }

    &__value {
        flex: 1;
        margin-left: 5%;
        margin-bottom: 5%;

        img {
            margin-top: -1em;
            background-color: #ececec;
            padding: 0.6em;
            box-shadow:
                -10px -10px 15px rgba(255, 255, 255, 0.55),
                10px 10px 15px #4646461f;
            border-radius: 2.5em;
            height: 2em;
            width: 2em;
        }

        h3 {
            margin-top: 0.6em;
            font-weight: bold;
            display: flex;
            align-items: flex-end;

            span {
                margin-left: 0.6em;
                font-size: 0.7em;
                color: $blue-green;
            }
        }

        h5 {
            margin-top: 0.6em;
        }
    }

    &__value-button {
        flex: 2;
    }

    &__value-button {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 0.6em 1.8em;
            margin: 1.8em;
            background-color: $blue-green;
            border-radius: 2.5em;
            font-weight: bold;
            box-shadow:
                -10px -10px 15px rgba(255, 255, 255, 1),
                10px 10px 15px rgba(70, 70, 70, 0.20);

            span {
                margin-left: 0.6em;
                font-size: 1.5em;
            }
        }
    }

    &__experience {
        background-image:
            radial-gradient(ellipse closest-side, rgba(255, 255, 255, 0.55), $background-gray),
            url("../assets/img/experience-background.jpg");
    }

    &__chart {
        canvas {
            position: relative;
            height: 80vh !important;
            width: 100% !important;
        }
    }

    &__education,
    &__experience {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: $xMarginResponsive;

        @media screen and (min-width: $landscape) {
            padding: $xMarginFull;
        }

        li {
            padding: 2em 1.5em;

            h3:hover {
                background: -webkit-linear-gradient($blue-green, $blue);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__education {
        background-image:
            radial-gradient(ellipse closest-side, rgba(255, 255, 255, 0.56), $background-gray),
            url("../assets/img/education-background.jpg");
    }
}