.projects {
    &__section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1em;
        column-gap: 1em;
        padding: 6em 0 12em 0;

        @media screen and (min-width: $landscape) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: $sm-desktop) {
            grid-template-columns: repeat(3, 1fr);
        }

        article {
            box-shadow:
                -10px -10px 15px rgba(255, 255, 255, 0.55),
                10px 10px 15px rgba(70, 70, 70, 0.12);
            padding: 3em;
            border-radius: 4em;

            h3 {
                color: black;
                margin-bottom: .5em;
            }

            img {
                height: auto;
                width: 100%;
                border-radius: 3em;
            }

            &:hover {
                background: -webkit-linear-gradient($blue, $blue-green);

                h3 {
                    color: $background-gray;
                }
            }
        }
    }
}