<template>
  <section>
    <div class="contact__section"></div>
  </section>
</template>

<script>
export default {
  computed: {
    profile() {
      return this.$store.getters.getProfile;
    },
  },
  data() {
    return {};
  },
};
</script>
