<template>
  <div class="home">
    <section>
      <div class="home__section">
        <div class="home__description">
          <h2>{{ profile.firstName }} {{ profile.lastName }}</h2>
          <p>{{ $t(profile.overview) }}</p>
        </div>
        <div class="home__profile-image">
          <img :src="profile.imageBody" alt="Javier Baro Morales" />
        </div>
      </div>
      <div class="home__section fluid">
        <div class="home__more">
          <div class="home__see-more">
            <a href="#home__skills">&#9660;</a>
            <h5>{{ $t("app.more") }}</h5>
          </div>
        </div>
        <div class="home__values">
          <div
            v-for="(value, key) in profile.values"
            :key="key"
            class="home__value"
          >
            <img :src="value.icon" :alt="$t(value.text)" />
            <h3>
              {{ value.quantity }}
              <span v-if="value.type === 'year'">{{
                $tc("home.years", value.quantity)
              }}</span>
            </h3>
            <h5>{{ $t(value.text) }}</h5>
          </div>
          <div class="home__value-button">
            <a :href="profile.cv" download>
              {{ $t("home.cv") }}
            </a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="home__experience fluid" id="home__skills">
        <h6>{{ $t("home.experience") }}</h6>
        <timeline :items="profile.experienceTimeline"></timeline>
      </div>
    </section>
    <section>
      <div class="home__skills">
        <h6>{{ $t("home.technologies") }}</h6>
        <div class="home__chart">
          <doughnut-chart
            ref="skills-chart"
            :chart-data="profile.technologyChart"
            :options="options"
          ></doughnut-chart>
        </div>
      </div>
    </section>
    <section>
      <div class="home__education fluid">
        <h6>{{ $t("home.education") }}</h6>
        <timeline :items="profile.educationTimeline"></timeline>
      </div>
    </section>
  </div>
</template>

<script>
import DoughnutChart from "../components/DoughnutChart.vue";
import Timeline from "../components/Timeline.vue";

const options = {
  responsive: true,
  maintainAspectRatio: false,
  animation: {
    animateRotate: true,
  },
  elements: {
    arc: {
      borderWidth: 0,
    },
  },
  legend: {
    display: true,
    labels: {
      padding: 20,
    },
  },
  tooltips: {
    enabled: false,

    custom: function(tooltipModel) {
      var tooltipEl = document.getElementById("chartjs-tooltip");
      var position = this._chart.canvas.getBoundingClientRect();
      if (!tooltipEl) {
        tooltipEl = document.createElement("div");
        tooltipEl.id = "chartjs-tooltip";
        tooltipEl.innerHTML =
          "<span style='display:flex; align-items: center;'></span>";
        document.body.appendChild(tooltipEl);
      }

      if (tooltipModel.opacity === 0) {
        tooltipEl.style.opacity = 0;
        return;
      }

      function getBody(bodyItem) {
        return bodyItem.lines;
      }

      let caretX = 0;
      if (tooltipModel.body) {
        var titleLines = tooltipModel.title || [];
        var bodyLines = tooltipModel.body.map(getBody);
        const images = this._data.images;

        let innerHtml = "";

        var position = this._chart.canvas.getBoundingClientRect();

        let deg = 0;
        let caretStyles = "";
        let imageStyles = "";
        caretX = tooltipModel.caretX - 30;

        bodyLines.forEach(function(body, i) {
          const index = tooltipModel.dataPoints[0].index;
          var colors = tooltipModel.labelColors[i];
          var style =
            "height: auto; width: 3em; padding: 1em; background-color: #ececec; border-radius: 2.5em;";
          innerHtml +=
            '<img src="' +
            images[index] +
            '" style="' +
            style +
            imageStyles +
            '"></img>';
        });

        var root = tooltipEl.querySelector("span");
        root.innerHTML = innerHtml;
      }

      tooltipEl.style.opacity = 1;
      tooltipEl.style.position = "absolute";
      tooltipEl.style.left = position.left + window.pageXOffset + caretX + "px";
      tooltipEl.style.top =
        position.top + window.pageYOffset + (tooltipModel.caretY - 20) + "px";
      tooltipEl.style.padding =
        tooltipModel.yPadding + "px " + tooltipModel.xPadding + "px";
    },
  },
};

export default {
  components: { DoughnutChart, Timeline },
  computed: {
    profile() {
      return this.$store.getters.getProfile;
    },
  },
  data() {
    return {
      options,
    };
  },
};
</script>
