<template>
  <section>
    <div class="projects__section">
      <article v-for="(project, key) in profile.projects" :key="key">
        <a :href="project.link">
          <h3>{{ project.name }}</h3>
          <img :src="project.img" :alt="project.name" />
        </a>
      </article>
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    profile() {
      return this.$store.getters.getProfile;
    },
  },
  data() {
    return {};
  },
};
</script>
