<template>
  <div class="header__container">
    <a
      v-for="(locale, key) in locales"
      :key="key"
      class="header__button"
      v-bind:class="{ 'header__button--active': isActive(locale) }"
      @click="switchLanguage(locale)"
    >
      {{ locale }}
    </a>
  </div>
</template>

<script>
export default {
  name: "LanguageSwithcer",
  computed: {
    locales() {
      return this.$store.getters.locales;
    },
  },
  data() {
    return {};
  },
  methods: {
    switchLanguage(locale) {
      this.$store.dispatch("switchLanguage", locale);
    },
    isActive(key) {
      return key === this.$store.getters.getActiveLanguage;
    },
  },
};
</script>
