<template>
  <div class="header">
    <div class="header__container">
      <router-link
        v-for="(item, key) in navItems"
        :key="key"
        class="header__main-button"
        v-bind:class="{ 'header__main-button--active': isActive(key) }"
        :to="item.route"
        @click.native="setActive(key)"
      >
        <h4>{{ $t(item.machineName) }}</h4>
      </router-link>
    </div>
    <language-switcher></language-switcher>
  </div>
</template>

<script>
import LanguageSwitcher from "./LanguageSwitcher.vue";

export default {
  name: "LanguageSwithcer",
  computed: {
    navItems() {
      return this.$store.getters.navItems;
    },
  },
  components: {
    LanguageSwitcher,
  },
  data() {
    return {};
  },
  methods: {
    switchLanguage(locale) {
      if (this.$i18n.loacale !== locale) {
        this.$i18n.locale = locale;
      }
    },
    isActive(key) {
      return key == this.$store.getters.navActive;
    },
    setActive(key) {
      this.$store.dispatch("setActiveNavItem", key);
    },
  },
};
</script>
