<template>
  <div class="footer">
    <div class="footer__section-overlap">
      <div class="footer__section-overlap-photo">
        <img :src="profile.image" alt="" />
      </div>
      <div class="footer__section-overlap-info">
        <div class="footer__section-overlap-info-content">
          <h3>{{ profile.firstName }} {{ profile.lastName }}</h3>
          <p>{{ $t(profile.profession) }}</p>
          <p>{{ profile.email }}</p>
        </div>
      </div>
    </div>
    <div class="footer__section">
      <div
        class="footer__social"
        v-for="(item, key) in profile.socialNetwork"
        :key="key"
      >
        <a :href="item.link">
          <img :src="item.icon" :alt="item.name" />
          {{ item.name }}</a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    profile() {
      return this.$store.getters.getProfile;
    },
    filteredProjects() {
      let profile = this.$store.getters.getProfile;
      return profile.projects ? profile.projects.slice(0, 3) : [];
    },
  },
  data() {
    return {};
  },
  methods: {},
};
</script>
