<template>
  <div class="timeline">
    <ul>
      <li v-for="(item, key) in items" :key="key">
        <span></span>
        <p class="timeline__start-date">{{ item.startDate }}</p>
        <h3>{{ t(item.title, item.title) }}</h3>
        <p v-if="item.info">{{ t(item.info, item.info) }}</p>
        <p class="timeline__end-date">{{ t(item.endDate) }}</p>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  methods: {
    t(str, fallbackStr) {
      // use `$te` and `$t
      return this.$t && this.$te
        ? this.$te(str)
          ? this.$t(str)
          : fallbackStr
        : fallbackStr
        ? fallbackStr
        : str;
    },
  },
  props: ["items"],
  data() {
    return {};
  },
};
</script>
