.footer {
    margin-top: 250px;

    &__section {
        flex: 1;
        display: flex;
        justify-content: center;
        margin: 2.8em 0;

        a {
            font-size: 1.5em;
            margin: 0 0.6em;
            font-weight: bold;
            color: black;
        }
    }

    &__home {
        display: flex;
        flex-direction: column;
    }

    &__section-overlap {
        display: flex;
        box-shadow:
            -10px -10px 15px rgba(255, 255, 255, 0.55),
            10px 10px 15px rgba(70, 70, 70, 0.12);
        border-radius: 2.5em;
        margin: -13em 3em 3em 3em;
        background-color: $background-gray;
    }

    &__section-overlap-photo {
        flex: 1;
    }

    &__section-overlap-info {
        flex: 3;
        padding: 3%;
        display: flex;
        align-items: center;
    }

    &__section-overlap-photo {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-left: 2.5em;

        img {
            height: auto;
            width: 100%;
        }
    }

    &__social {
        margin: 0 1em;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: unset;
        }

        a:hover {
            background: -webkit-linear-gradient($blue-green, $blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        img {
            height: 2.5em;
            width: 2.5em;
            margin-bottom: 0.6em;
        }
    }
}