.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        margin-top: 20px;
        display: flex;
        box-shadow:
            -10px -10px 15px rgba(255, 255, 255, 0.55),
            10px 10px 15px rgba(70, 70, 70, 0.12);
        border-radius: 50px;
        padding: 0 1.5em;
    }

    &__main-button {
        padding: 15px 1.2em;
        border-radius: 50px;
        color: $dark-gray;

        &--active {
            box-shadow:
                inset -10px -10px 15px rgba(255, 255, 255, 0.55),
                inset 10px 10px 15px rgba(70, 70, 70, 0.12);
            padding: 15px 1.2em 5px 1.2em;
            border-radius: 0 0 35px 35px;
            margin-bottom: 10px;

            h4 {
                background: -webkit-linear-gradient($blue-green, $blue);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__button {
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        font-size: 0.9em;
        font-weight: 600;
        padding: 3px 10px;
        border-radius: 20px;
        margin: 5px 0;
        color: $dark-gray;

        &--active {
            box-shadow:
                inset -10px -10px 15px rgba(255, 255, 255, 0.55),
                inset 10px 10px 15px rgba(70, 70, 70, 0.16);
            padding: 3px 10px;
            border-radius: 20px;
            color: black;
        }
    }

}