.timeline {
    margin: 8em 0 8em 8em;

    @media screen and (min-width: $landscape) {
        margin: 5em 0 5em 5em;
    }

    ul,
    li {
        position: relative;
        margin: 3em;
        padding: 1em;

        @media screen and (min-width: $landscape) {
            margin: 5em;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border: 2px dashed $blue;

        }

        li {
            span {
                content: '';
                position: absolute;
                top: 0;
                height: 100%;
                width: 4px;
                background: $blue;
                left: -3em;

                @media screen and (min-width: $landscape) {
                    left: -5em;
                }

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 0.6em;
                    height: 0.6em;
                    border: 2px solid $blue;
                    border-radius: 50%;
                    left: -0.3em;
                    background: $blue-green;
                }

                &:before {
                    top: -10px;
                }

                &:after {
                    top: 100%;
                }
            }
        }
    }

    &__item-title {
        font-size: 1.5em;
    }

    &__item-info {
        margin-top: 2em;
        font-size: 0.8em;
    }

    &__start-date {
        top: 98%;
    }

    &__end-date {
        top: -0.8em;
    }

    &__start-date,
    &__end-date {
        position: absolute;
        font-weight: bold;
        left: -6.5em;
        margin: 0;

        @media screen and (min-width: $landscape) {
            left: -8.5em;
        }
    }
}