<template>
  <div class="full-width center-content">
    <portfolio-header></portfolio-header>
    <router-view></router-view>
    <portfolio-footer></portfolio-footer>
  </div>
</template>

<script>
import PortfolioHeader from "./components/PortfolioHeader.vue";
import PortfolioFooter from "./components/PortfolioFooter.vue";

export default {
  components: {
    PortfolioHeader,
    PortfolioFooter,
  },
};
</script>

<style>
/*body{background-color:red;}*/
</style>
